/* 
Cooldark Color Version 1 
Kompatibel mit Template Version 1
*/

body {
			color: #fefefe;
			background-color: #323232;
}

a {
			color: #dcdcdc;
}

.menuesite a, .menue_cards a {
			box-shadow: .1em .1em #ccc;
}

div.menuesite a, div.menue_cards a {
			color: #fefefe;
			background-color: #111;
			border-color: #ededed;
}

hr {
		 	border-color: #fff;
}

.menuesite { 
			background-color: #323232;
}
