/* 
Default Color Version 1 
Kompatibel mit Template Version 1
*/

body {
			color: #271c00;
			background-color: #fffbf2;
}

a {
			color: #444;
}

.menuesite a, .menue_cards a {
			box-shadow: .1em .1em #ccc;
}

div.menuesite a, div.menue_cards a {
			color: #fffbf2;
			border-color: #B18518;
			background-color: #271c00;
}

hr {
			border-color: #ccc8b9;
}

.menuesite {
			background-color: #fffbf2;
}
