/* 
Version 1 
Kompatibel mit Template Version 1
*/

body {
			color: #1ef711;
			background-color: #000;
}

a {
			color: #9DFF90;
}

.menuesite a, .menue_cards a {
			box-shadow: .1em .1em #D8FFD3;
}

div.menuesite a, div.menue_cards a {
			color: #1ef711;
			background-color: #111;
			border-color: #BCFFB3;
}

hr {
		 	border-color: #BCFFB3;
}

.menuesite { 
			background-color: #000;
}
