/* 
Console Fonts Version 1 
Kompatibel mit Template Version 1
*/

body {
			font-family: Freemono, "Courier New", monospace;
}

h4 {
			font-family: Freemono, "Courier New", monospace;
}

p.brand {
			font-family: Freemono, "Courier New", monospace;
			font-style: italic;
}

.menuesite a, .menue_cards a {
			font-family: Freemono, "Courier New", monospace;
}

dt {
			font-weight: bolder;
}

dd {
			font-style: italic;
}
