/* 
Default Fonts Version 1 
Kompatibel mit Template Version 1
*/

body {
			font-family: sans-serif;
}

h4 {
			font-family: serif;
}

p.brand {
			font-family: serif;
			font-style:italic;
}

.menuesite a, .menue_cards a {
			font-family: serif;
}

dt {
			font-weight: bolder;
}

dd {
			font-style: italic;
}
