/* 
Default Layout Mobile Version 1 
Kompatibel mit Template Version 1
*/

body {
			text-align: center;
			font-size: 2.5rem;
			line-height: 2.5rem;
}

h2 {
			font-size: 3.7rem;
}

h3 {
			font-size: 3.2rem;
}

h4 {
			font-size: 2.8rem;
			margin: 0rem;
			padding: 0rem;
			text-decoration: underline solid 0.1rem;
}

p.info span{
			border-width: 0.1rem;
			border-style: solid;
			padding: 0.3rem;
}

p.brand {
			font-size: 1.5rem;
			line-height: 1.5rem;
			margin-bottom: 5.3rem;
}

a {
			text-decoration-style: solid;
}

.menue_cards a {
			text-decoration-style: dashed;
			text-decoration-line: underline;
}

.menuesite a, .menue_cards a {
			font-size: 2.8rem;
			line-height: 9rem;
			text-decoration-style: dotted;
			border-width: 0.1rem;
			border-style: solid;
			padding: 2.5rem;
			margin: 0.2rem;
}

a.active {
			text-decoration-line: none;
}

hr {
			border-width: 0.05rem;
			border-style: solid;
			width: 38.2%;
			margin-bottom: 1rem;
}

hr.last {
			width: 61.8%;
}

.menuesite  {
			position: fixed;
			vertical-align: middle;
			width: 100%;
			line-height: 5.3rem;
			bottom: 0rem;
}

.menuespacer {
			height: 6rem;
}

dl {
			display: flex;
			flex-direction: column;
}

dt {
			font-size: 2.7rem;
}

dd {
			font-size: 2.3rem;
			margin-left: 0rem;
}

dd span {
			margin: 1rem 1rem;
}
